$bg-white: #fff;

*,
*::after,
*::before {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	margin: 0;
	font-family: 'Rubik', sans-serif;
}

header {
	z-index: 2;
	@media only screen and (min-width: 1023px) {
		& {
			position: sticky;
			top: 0;
		}
	}
}

.header-logo {
	width: 40px;
	height: 40px;

	@media only screen and (min-width: 768px) {
		& {
			width: 50px;
			height: 50px;
		}
	}
}

.nav {
	padding: 1.3em 1em 0.6em;
	justify-content: space-between;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06),
		0 0 2px rgba(0, 0, 0, 0.07);
	background: #fff;

	&-global {
		display: none;
		flex-grow: 1;

		& > div {
			display: flex;
		}

		& .desktop-listitem {
			padding-left: 1.6em;
			text-transform: uppercase;
			font-size: 0.88rem;
			font-weight: 600;
			display: flex;

			&--active {
				box-shadow: inset 0 -6px #008248;
			}
		}

		& ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: row;
			flex-shrink: 0;

			& li {
				& a {
					color: currentColor;
					padding-top: 0.6em;
					text-decoration: none;
					letter-spacing: 0.06em;
				}
			}
		}

		& .auxnav {
			& p {
				font-size: 0.9rem;
			}
		}
	}

	@media only screen and (min-width: 797px) {
		& {
			padding: 1.3em 2em 0em;
		}

		&-global {
			display: flex;
		}
	}
}

.hamburgerMenu {
	width: 50px;
	height: 50px;
	background: none;
	border: none;

	& .menu-icon-hover {
		transition: all 0.2s ease-in-out;
		transform: scale(0.4);
		transform-origin: center;
		fill: transparent;
		opacity: 0.1;
	}

	&:hover .menu-icon-hover {
		transform: scale(1);
		fill: currentColor;
	}

	@media only screen and (min-width: 797px) {
		& {
			display: none;
		}
	}
}

.navPanel {
	min-height: 100vh;
	box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.1),
		inset 0 4px 2px -2px rgba(0, 0, 0, 0.07);
	position: fixed;
	transform: translateX(100%);
	left: 20vw;
	width: 80vw;
	padding-top: 2.2em;
	z-index: 99;
	transition: transform 0.3s ease-in;
	background: #fff;

	& ul {
		margin: 0;
		padding: 0;
		list-style: none;

		& li {
			& button {
				cursor: pointer;
				padding: 1rem 1.6rem;
				border: none;
				background: transparent;
				width: 100%;
				display: flex;
				flex-direction: row-reverse;
				justify-content: space-between;
				font-size: 1.2rem;
			}

			& a {
				width: 100%;
				display: block;
				color: currentColor;
				text-decoration: none;
				padding: 1rem 1.6rem;
				font-size: 1.2rem;
				text-align: left;
			}
		}
	}

	& .auxnav {
		display: inline-block;
		padding: 1rem 1.6rem;

		& a {
			text-decoration: none;
		}

		& p > a {
			color: currentColor;
		}
	}
}

hr {
	border: 0;
	margin: 0;
	padding: 1rem 1.6rem;
	&::before {
		content: '';
		display: block;
		border-top: 2px solid rgba(0, 0, 0, 0.1);
	}
}

.map-marker {
	width: 26px;
	height: 26px;
	margin-right: 0.4em;
	overflow: visible;
	fill: currentcolor;
	vertical-align: middle;
}

.sb-button {
	display: inline-block;
	background: none;
	border-style: solid;
	border-width: 1px;
	border-radius: 50px;
	padding: 7px 16px;
	font-weight: 350;
	line-height: 1.2;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease;
	font-size: 0.9rem;

	&-positive {
		background-color: black;
		border-color: black;
		color: #fff;
	}
}

.navPanel-secondary {
	padding-top: 0;
	text-decoration: none;

	& .pushViewBtn-left {
		flex-direction: row;
		background: rgba(0, 0, 0, 0.04);

		& span {
			margin: 0 auto;
		}
	}
}

.d-flex {
	display: flex;
}

.items {
	&-center {
		align-items: center;
	}

	&-start {
		align-items: flex-start;
	}
}

.relative {
	position: relative;
}

.inline-block {
	display: inline-block;
}

.absoluteCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.m {
	&l-auto {
		margin-left: auto;
	}

	&l-6 {
		margin-left: 3em;
	}

	&l-5 {
		margin-left: 2.5em;
	}

	&l-4 {
		margin-left: 2em;
	}
	&l-3 {
		margin-left: 1.5em;
	}
	&l-2 {
		margin-left: 1em;
	}

	&l-1 {
		margin-left: 0.6em;
	}

	&r-auto {
		margin-right: auto;
	}

	&r-6 {
		margin-right: 3em;
	}

	&r-5 {
		margin-right: 2.5em;
	}

	&r-4 {
		margin-right: 2em;
	}

	&r-3 {
		margin-right: 1.5em;
	}

	&r-2 {
		margin-right: 1em;
	}

	&r-1 {
		margin-right: 0.6em;
	}
	&l-auto {
		margin-left: auto;
	}

	&t-6 {
		margin-top: 3em;
	}

	&t-5 {
		margin-top: 2.5em;
	}

	&t-4 {
		margin-top: 2em;
	}
	&t-3 {
		margin-top: 1.5em;
	}
	&t-2 {
		margin-top: 1em;
	}

	&t-1 {
		margin-top: 0.6em;
	}

	&b-auto {
		margin-bottom: auto;
	}

	&b-6 {
		margin-bottom: 3em;
	}

	&b-5 {
		margin-bottom: 2.5em;
	}

	&b-4 {
		margin-bottom: 2em;
	}
	&b-3 {
		margin-bottom: 1.5em;
	}
	&b-2 {
		margin-bottom: 1em;
	}

	&b-1 {
		margin-bottom: 0.6em;
	}

	&x-auto {
		margin-left: auto;
		margin-right: auto;
	}

	&x-6 {
		margin-left: 3em;
		margin-right: 3em;
	}

	&x-5 {
		margin-left: 2.5em;
		margin-right: 2.5em;
	}

	&x-4 {
		margin-left: 2em;
		margin-right: 2em;
	}
	&x-3 {
		margin-left: 1.5em;
		margin-right: 1.5em;
	}
	&x-2 {
		margin-left: 1em;
		margin-right: 1em;
	}

	&x-1 {
		margin-left: 0.6em;
		margin-right: 0.6em;
	}
}

.p {
	&l-auto {
		padding-left: auto;
	}

	&l-6 {
		padding-left: 3em;
	}

	&l-5 {
		padding-left: 2.5em;
	}

	&l-4 {
		padding-left: 2em;
	}
	&l-3 {
		padding-left: 1.5em;
	}
	&l-2 {
		padding-left: 1em;
	}

	&l-1 {
		padding-left: 0.6em;
	}

	&r-auto {
		padding-right: auto;
	}

	&r-6 {
		padding-right: 3em;
	}

	&r-5 {
		padding-right: 2.5em;
	}

	&r-4 {
		padding-right: 2em;
	}

	&r-3 {
		padding-right: 1.5em;
	}

	&r-2 {
		padding-right: 1em;
	}

	&r-1 {
		padding-right: 0.6em;
	}
	&l-auto {
		padding-left: auto;
	}

	&t-6 {
		padding-top: 3em;
	}

	&t-5 {
		padding-top: 2.5em;
	}

	&t-4 {
		padding-top: 2em;
	}
	&t-3 {
		padding-top: 1.5em;
	}
	&t-2 {
		padding-top: 1em;
	}

	&t-1 {
		padding-top: 0.6em;
	}

	&b-auto {
		padding-bottom: auto;
	}

	&b-6 {
		padding-bottom: 3em;
	}

	&b-5 {
		padding-bottom: 2.5em;
	}

	&b-4 {
		padding-bottom: 2em;
	}
	&b-3 {
		padding-bottom: 1.5em;
	}
	&b-2 {
		padding-bottom: 1em;
	}

	&b-1 {
		padding-bottom: 0.6em;
	}

	&x-6 {
		padding-left: 3em;
		padding-right: 3em;
	}

	&x-5 {
		padding-left: 2.5em;
		padding-right: 2.5em;
	}

	&x-4 {
		padding-left: 2em;
		padding-right: 2em;
	}
	&x-3 {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
	&x-2 {
		padding-left: 1em;
		padding-right: 1em;
	}

	&x-1 {
		padding-left: 0.6em;
		padding-right: 0.6em;
	}
	&y-6 {
		padding-top: 3em;
		padding-bottom: 3em;
	}

	&y-4 {
		padding-top: 2.5em;
		padding-bottom: 2.5em;
	}

	&y-4 {
		padding-top: 2em;
		padding-bottom: 2em;
	}
	&y-3 {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}
	&y-2 {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	&y-1 {
		padding-top: 0.6em;
		padding-bottom: 0.6em;
	}
}

.hidden {
	display: none;
}

.block {
	transform: translateX(0);
}

.noscroll {
	overflow: hidden;
}
