// * {
// 	outline: 1px SOLID red;
// }

.bg-green {
	background: #1e3932;
	color: #fff;
	padding: 0.5em 1.3em;
	display: flex;
	justify-content: space-between;
	align-items: center;

	& p {
		margin: 0;
	}

	& button {
		background: transparent;
		border: 1px solid;
		border-radius: 50px;
		padding: 0.5em 0.7em;
		color: white;
	}

	@media only screen and (min-width: 797px) {
		& {
			padding: 0.7em 7em;
		}
		& button {
			visibility: hidden;
		}
	}
}

.bg-cream {
	background: #f3f1e7;
}

.bg-greenLightSecondary {
	background: rgba(212, 233, 226, 0.33);
}
.mdMax-hidden {
	display: none;
	@media only screen and (min-width: 768px) {
		& {
			display: block;
		}
	}
}

.md-hidden {
	@media only screen and (min-width: 768px) {
		& {
			display: none;
		}
	}
}

.just {
	&-start {
		justify-content: start;
	}
	&-end {
		justify-content: flex-end;
	}
	&-between {
		justify-content: space-between;
	}
	&-around {
		justify-content: space-around;
	}
}

.sb-button--green {
	background-color: #008248;
	border-color: #008248;
	color: white;
}

.size12 {
	width: 100%;
}

.flex-col {
	flex-direction: column;
}

.bg-mobile {
	background: url(../images/hero-mobile.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom right;
}

.bg-desktop {
	background: url(../images/hero-desktop.webp);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: auto 100%;
}

.bg-lightgreen {
	background-color: rgb(212, 233, 226);
}

.color-gold {
	color: #cba258;
}
.green-bar {
	& p {
		font-size: 0.86rem;
		font-weight: 600;
		letter-spacing: 0.1em;
	}

	// @media only screen and (min-width: 1023px) {
	// 	& {
	// 		position: relative;
	// 	}
	// }
}

.text-xs {
	font-size: 0.7rem;
}

.text {
	&-center {
		text-align: center;
	}

	&-left {
		text-align: left;
	}
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.b1 {
	border: 1px solid salmon;
}

.section-one {
	&-content {
		padding-bottom: 79%;

		& h1 {
			text-transform: uppercase;
			margin-bottom: 0;
			font-size: 1.8rem;
			letter-spacing: 1px;
			font-weight: 400;
		}

		& p {
			// font-size: 0.95rem;
			font-weight: 400;
		}

		& > div {
			// border: 1px solid salmon;
			margin: 0.9em auto;
		}
	}

	&-deskcontent {
		margin-left: 2.5em;
		padding: 12em 0;
		& h1 {
			text-transform: uppercase;
			margin-bottom: 0;
			font-size: 2.4rem;
			letter-spacing: 1px;
			font-weight: 400;
		}

		& p {
			font-size: 1.2rem;
		}
	}

	&-links {
		& > a {
			font-size: 0.95rem;
		}
		& div a {
			color: black;
			font-weight: 400;
		}

		& div p {
			color: black;
			font-size: 1.2rem;
		}
	}
}

.section-two {
	&-heading {
		margin-top: 5em;
		text-align: center;
		& h2 {
			font-size: 1.6rem;
			font-weight: 450;
		}
	}

	& a {
		color: #008248;
	}

	& p {
		font-size: 0.88rem;
		font-weight: 300;
	}

	&-content {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		& > div {
			max-width: 40rem;
			display: flex;
		}
	}

	& .numbered {
		& img {
			display: inline-block;

			width: 50px;
			height: 50px;
		}
	}

	& h3 {
		margin: 0;
		font-size: 1rem;
		font-weight: 500;
	}
	@media only screen and (min-width: 768px) {
		& p {
			font-size: 1rem;
			font-weight: 350;
		}

		& h3 {
			font-size: 1.3rem;
		}

		&-content {
			display: grid;
			grid-template-columns: auto auto auto;
			gap: 5em;
			align-items: start;
			justify-items: center;

			& > div {
				flex-flow: column;
				text-align: center;
				align-items: center;
				justify-items: flex-start;
				max-width: 19rem;
			}
			& .grid-1 {
				grid-column: 2/3;
			}

			& .grid-3 {
				grid-column: 4/5;
			}
		}

		& .numbered {
			margin-bottom: 1.3em;
		}
	}
}

.section-three {
	margin-top: 3em;
	&-heading {
		margin-top: 3em;
		margin-bottom: 3.3em;
		text-align: center;
		& h2 {
			font-size: 1.6rem;
			font-weight: 450;
		}
	}

	&-tabs {
		max-width: 35rem;
		width: 100%;
	}

	& .tab-link {
		cursor: pointer;
		flex-basis: 7rem;
		border: none;
		background: none;
		& h3 {
			font-size: 1.3rem;
			font-weight: 450;
			margin: 0;
			padding-bottom: 0.4em;
		}

		& .tab-slider {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 4px;
			background-color: #008248;
			width: 0;
			transition: width 0.3s ease-out;
		}

		& .tab-slider--active {
			display: block;
			width: 100%;
			transition: width 0.35s ease-in;
		}
	}

	& .tab-content {
		box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.14);
		display: none;
		flex-flow: column nowrap;
		text-align: center;
		justify-content: center;
		align-items: center;
		padding: 3em 0em;
		animation: fadeEffect 0.7s;

		& .tab-img {
			width: 100%;
			max-width: 50rem;

			& img {
				width: 100%;
				height: auto;
			}
		}

		& .tab-text {
			width: 80%;
			max-width: 26rem;

			& p {
				font-size: 0.9rem;
				font-weight: 300;
			}

			& h4 {
				font-size: 1.2rem;
				font-weight: 500;
			}
		}
	}

	@media only screen and (min-width: 768px) {
		& {
			margin-top: 7em;

			& .tab-link {
				& h3 {
					font-size: 1.5rem;
					font-weight: 600;
				}
			}
		}

		& .tab-content {
			flex-flow: row nowrap;
			text-align: left;

			& .tab-img {
				max-width: 25rem;
				margin-right: 4em;
			}
		}
	}
}

.section-four {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: 0 1.2rem;

	& p {
		font-size: 0.9rem;
		font-weight: 300;
	}

	& a {
		color: #008248;
		font-size: 0.9rem;
	}

	&-heading {
		text-align: center;
		display: flex;
		flex-flow: column nowrap;
		max-width: 37rem;
		margin-top: 3em;
	}

	& img {
		display: inline-block;
		width: 110px;
		height: auto;
	}

	&-content {
		padding-bottom: 4em;
		& > div {
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: 1em 0;

			& h3 {
				font-size: 1rem;
				font-weight: 450;
			}

			& .section-four-img {
				margin-right: 1em;
			}

			& .section-four-text {
				width: 100%;
				max-width: 33rem;
			}
		}
	}
	@media only screen and (min-width: 768px) {
		& p,
		a {
			font-size: 1rem;
		}

		&-heading {
			margin-top: 7em;

			& p {
				margin-top: 0;
				margin-bottom: 1.5em;
			}
		}
		&-content {
			padding-bottom: 6em;
			display: grid;
			grid-template-columns: auto auto auto;
			gap: 4em;
			align-items: start;
			& > div {
				flex-direction: column;
				& .section-four-text {
					text-align: center;
					max-width: 19rem;
				}
			}
		}
	}
}

.section-five {
	// outline: #008248 1px solid;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1.2rem;

	& a {
		color: #008248;
	}

	& p {
		font-size: 0.9rem;
		font-weight: 300;
	}

	&-heading {
		display: flex;
		flex-flow: column nowrap;
		max-width: 37rem;
		text-align: center;
	}

	&-content {
		width: 100%;

		& > div {
			padding: 1.3em;
			margin-top: 4em;
			border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
		}
	}

	&-info {
		padding-bottom: 2em;
		& h4 {
			font-size: 1.2rem;
			font-weight: 450;
			margin: 0;
		}
		& p {
			// outline: 1px solid brown;
			margin-top: 0.3em;
		}
	}

	&-detail {
		display: flex;

		& img {
			width: 160px;
			height: 160px;
			margin-right: 1em;
		}

		& > div {
			width: 100%;
			max-width: 30rem;
		}

		& h5 {
			font-size: 1rem;
			font-weight: 450;
			margin-bottom: 1em;
			margin-top: 0;
		}
	}

	@media only screen and (min-width: 768px) {
		& p {
			font-size: 1rem;
		}

		&-content {
			& > div {
				display: grid;
				grid-template-columns: auto auto auto auto;
				align-items: start;
			}

			& .grid-3 {
				grid-template-columns: auto auto auto 1fr;
			}
		}

		&-info {
			padding-right: 2em;
			& p {
				min-width: 9ch;
				max-width: 9em;
			}

			& h4 {
				font-size: 1.3rem;
				max-width: 8em;
			}
		}

		&-detail {
			& img {
				margin-right: 1em;
			}

			& h5 {
				font-size: 1.1rem;
			}

			& p,
			h5 {
				min-width: 5em;
				max-width: 13rem;
			}
		}
	}

	@media only screen and (min-width: 1024px) {
		&-detail {
			& p,
			h5 {
				max-width: 15rem;
			}
		}
	}
}

.section-six {
	padding: 1.3em 1.6em 4em;

	& h4,
	h3 {
		font-size: 1.3rem;
	}

	& h4 {
		margin-top: 4em;
	}

	& p {
		font-size: 0.9rem;
		font-weight: 300;
		line-height: 1.5;
	}

	& .small {
		margin: 0;
		line-height: normal;
	}

	& form {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 40em;

		& .sb-button--white {
			margin-top: 1em;
			align-self: flex-end;
		}
	}

	& .formWrapper {
		border: 1px solid rgba($color: #000000, $alpha: 0.3);
		border-radius: 9px;
		padding: 0.7em;
	}

	// & .formWrapper:focus {
	// 	outline: #008248 1px solid;
	// }

	& .input {
		font-size: 1rem;
		border: none;
		outline: 0;
		width: 100%;
	}
	& a {
		color: #008248;
	}

	@media only screen and (min-width: 768px) {
		& {
			padding-left: 20%;

			& > div {
				width: 55%;
			}

			& h4,
			h3 {
				font-size: 1.5rem;
			}

			& p {
				font-size: 1rem;
			}
		}
	}
}

.section-seven {
	background: #f7f7f7;
	padding: 1.3em 1.6em 1.7em;

	& p {
		font-size: 0.84rem;
		font-weight: 300;
		line-height: 1.5;
	}

	& a {
		color: #008248;
	}

	& h5 {
		font-size: 0.86rem;
		font-weight: 600;
		color: rgba($color: #000000, $alpha: 0.5);
		text-transform: uppercase;
		letter-spacing: 0.05em;
	}

	@media only screen and (min-width: 768px) {
		& {
			padding: 1.6em 2.5em 4em;
		}

		& > div {
			display: grid;
			grid-template-columns: auto auto;
			gap: 1.7em;
			align-items: start;
			// justify-items: center;
			& p {
				font-size: 0.89rem;
				// min-width: 30rem;
				max-width: 33rem;
			}
		}
	}
}
