.bg-green {
  background: #1e3932;
  color: #fff;
  padding: 0.5em 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg-green p {
  margin: 0;
}
.bg-green button {
  background: transparent;
  border: 1px solid;
  border-radius: 50px;
  padding: 0.5em 0.7em;
  color: white;
}
@media only screen and (min-width: 797px) {
  .bg-green {
    padding: 0.7em 7em;
  }
  .bg-green button {
    visibility: hidden;
  }
}

.bg-greenLightSecondary {
  background: rgba(212, 233, 226, 0.33);
}

.mdMax-hidden {
  display: none;
}
@media only screen and (min-width: 768px) {
  .mdMax-hidden {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .md-hidden {
    display: none;
  }
}

.just-start {
  justify-content: start;
}
.just-end {
  justify-content: flex-end;
}
.just-between {
  justify-content: space-between;
}
.just-around {
  justify-content: space-around;
}

.sb-button--green {
  background-color: #008248;
  border-color: #008248;
  color: white;
}

.size12 {
  width: 100%;
}

.flex-col {
  flex-direction: column;
}

.bg-mobile {
  background: url(../images/hero-mobile.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}

.bg-desktop {
  background: url(../images/hero-desktop.webp);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: auto 100%;
}

.bg-lightgreen {
  background-color: #d4e9e2;
}

.color-gold {
  color: #cba258;
}

.green-bar p {
  font-size: 0.86rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.text-xs {
  font-size: 0.7rem;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.b1 {
  border: 1px solid salmon;
}

.section-one-content {
  padding-bottom: 79%;
}
.section-one-content h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 400;
}
.section-one-content p {
  font-weight: 400;
}
.section-one-content > div {
  margin: 0.9em auto;
}
.section-one-deskcontent {
  margin-left: 2.5em;
  padding: 12em 0;
}
.section-one-deskcontent h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 2.4rem;
  letter-spacing: 1px;
  font-weight: 400;
}
.section-one-deskcontent p {
  font-size: 1.2rem;
}
.section-one-links > a {
  font-size: 0.95rem;
}
.section-one-links div a {
  color: black;
  font-weight: 400;
}
.section-one-links div p {
  color: black;
  font-size: 1.2rem;
}

.section-two-heading {
  margin-top: 5em;
  text-align: center;
}
.section-two-heading h2 {
  font-size: 1.6rem;
  font-weight: 450;
}
.section-two a {
  color: #008248;
}
.section-two p {
  font-size: 0.88rem;
  font-weight: 300;
}
.section-two-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.section-two-content > div {
  max-width: 40rem;
  display: flex;
}
.section-two .numbered img {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.section-two h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .section-two p {
    font-size: 1rem;
    font-weight: 350;
  }
  .section-two h3 {
    font-size: 1.3rem;
  }
  .section-two-content {
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr;
    gap: 3.5em;
    align-items: start;
  }
  .section-two-content > div {
    flex-flow: column;
    text-align: center;
    align-items: center;
    justify-items: flex-start;
    max-width: 23rem;
  }
  .section-two-content .grid-1 {
    grid-column: 2/3;
  }
  .section-two-content .grid-3 {
    grid-column: 4/5s;
  }
  .section-two .numbered {
    margin-bottom: 1.3em;
  }
}

.section-three {
  margin-top: 3em;
}
.section-three-heading {
  margin-top: 5em;
  text-align: center;
}
.section-three-heading h2 {
  font-size: 1.6rem;
  font-weight: 450;
}
.section-three-tabs {
  max-width: 35rem;
  width: 100%;
}
.section-three .tab-link {
  cursor: pointer;
  flex-basis: 7rem;
  border: none;
  background: none;
}
.section-three .tab-link h3 {
  font-size: 1.2rem;
  font-weight: 450;
  margin: 0;
  padding-bottom: 0.4em;
}
.section-three .tab-link .tab--slider {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: #008248;
  width: 100%;
}
.section-three .tab-content {
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.section-three .tab-content .tab-img {
  width: 100%;
  max-width: 50rem;
}
.section-three .tab-content .tab-img img {
  width: 100%;
  height: auto;
}
.section-three .tab-content .tab-text {
  width: 80%;
  max-width: 20rem;
}
.section-three .tab-content .tab-text p {
  font-size: 1rem;
  font-weight: 300;
}
.section-three .tab-content .tab-text h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .section-three {
    margin-top: 7em;
  }
  .section-three .tab-content {
    flex-flow: row nowrap;
    text-align: left;
  }
  .section-three .tab-content .tab-img {
    max-width: 25rem;
    margin-right: 4em;
  }
}

/*# sourceMappingURL=main.css.map */
